<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ithgf.mapper.RoleMapper">
    <!-- 根据id查询角色，包括权限 -->
    <resultMap id="roleMapper" type="com.ithgf.pojo.Role">
        <id property="rid" column="rid" javaType="long"/>
        <result property="roleName" column="roleName" javaType="string"/>
        <result property="roleDesc" column="roleDesc" javaType="string"/>
        <collection property="permissions"  column="pid" ofType="com.ithgf.pojo.Permission">
            <id property="pid" column="pid" javaType="long"/>
            <result property="permissionName" column="permissionName" javaType="string"/>
            <result property="url" column="url" javaType="string"/>
        </collection>
    </resultMap>
    <select id="findById" parameterType="long" resultMap="roleMapper">
        select *
        from shop_role
                 LEFT JOIN shop_role_permission ON shop_role.rid = shop_role_permission.rid
                 LEFT JOIN shop_permission ON shop_role_permission.pid = shop_permission.pid
        WHERE shop_role.rid = #{rid}
    </select>
</mapper>